<% if @users.length == 0%>
  No Results.
<% end %>
<div class="results">
  <% @users.each do |user| %>
    <div class="one_result">
    <div class="yellow_rectangle"></div>
    <% if user.zip_code %>
      Zip Code: <%= user.zip_code %><br>
    <% end %>
    <% if user.gender %>
      Gender: <% user.gender %><br>
    <% end %>
    <% if user.sunday == 1 %>
      Available Sunday<br>
    <% end %>
    <% if user.monday == 1 %>
      Available Monday<br>
    <% end %>
    <% if user.tuesday == 1 %>
      Available Tuesday<br>
    <% end %>
    <% if user.wednesday == 1 %>
      Available Wednesday<br>
    <% end %>
    <% if user.thursday == 1 %>
      Available Thursday<br>
    <% end %>
    <% if user.friday == 1 %>
      Available Friday<br>
    <% end %>
    <% if user.saturday == 1 %>
      Available Saturday<br>
    <% end %>
    <% if user.morning == 1%>
      Available in the Morning<br>
    <% end %>
    <% if user.afternoon == 1%>
      Available in the Afternoon<br>
    <% end %>
    <% if user.evening == 1%>
      Available in the Evening<br>
    <% end %>
    <% if user.night == 1%>
      Available at Night<br>
    <% end %>
    <% if user.experience %>
      Experience: <%= user.experience%><br>
    <% end %>
    <% if user.school %>
      School: <%= user.school%><br>
    <% end %>
    <% if user.age_range_kids_sit %>
      Will sit for this many children: <%= user.age_range_kids_sit%><br>
    <% end %>
    <% if user.first_name %>
      Name: <%= user.first_name%><br>
    <% end %>
    <% if user.county %>
      County: <%= user.county %><br>
    <% end %>
    <% if user.cell_number %>
      Phone Number: <%= user.cell_number %><br>
    <% end %>
    <% if user.yes_transit == 1%>
      Has Transportation<br>
    <% end %>
    <% if user.no_transit == 1%>
      Does Not Have Transportation<br>
    <% end %>
    <% if user.age_16 == 1%>
      Age: 16<br>
    <% end %>
    <% if user.age_17 == 1%>
      Age: 17<br>
    <% end %>
    <% if user.age_18_up == 1%>
      Age: 18+<br>
    <% end %>
    <% if user.babysitting == 1%>
      Can Babysit<br>
    <% end %>
    <% if user.grocery_shopping == 1%>
      Can Grocery Shop<br>
    <% end %>
    <% if user.e_learning_assistance == 1%>
      Can Assist With E-Learning<br>
    <% end %>
  </div>
 <% end %>
</div>