<%= button_to "Back", new_session_path(resource_name) %><br>

<h2>Forgot your password?</h2>

<%= form_with(model: User, url: registration_path(@user)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>


